<ul class="filter-types">
  {{#each filterTypes as |type|}}
    <li class="filter-item">
      {{filter-button
        filterType=filterType
        type=type
        onclick=(action "setFilterType" type)}}
    </li>
  {{/each}}
</ul>

<div class="splitter"></div>

<form class="add-item-form">
  <div class="input-button-wrapper">
    {{input
      type="text"
      placeholder="Add todo..."
      class="add-item-input"
      value=(mut todoInput)}}
    <button
      type="submit"
      class="add-item-button"
      {{action "addTodo" todoInput}}>
      ADD
    </button>
  </div>
</form>

<div class="splitter"></div>

<ul class="filter-items">
  {{#each filterComputed as |todo|}}
    {{todo-item todo=todo}}
  {{/each}}
</ul>
