<form>
  <input
    type="text"
    placeholder="todo">
  <button
    type="submit"
    {{action "addTodo" "wev"}}>
    Add
  </button>
</form>

{{#todo-items}}
  {{#each model as |todo|}}
    {{todo-item
      todo=todo}}
  {{/each}}
{{/todo-items}}
